name: Python Data CI/CD
on:
  push:
    branches: [ main ]

jobs:
  test-and-package:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Python # On cible le dossier Python
    steps:
      - uses: actions/checkout@v4

      - name: Installer les dépendances
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Lancer les Tests (Le piège de la prof)
        run: pytest tests/

      - name: Créer le ZIP Python
        run: |
          mkdir -p BoudjemaDyhiaPython
          # Copie tout sauf les environnements virtuels
          cp -r . BoudjemaDyhiaPython/
          zip -r ../BoudjemaDyhiaPython.zip BoudjemaDyhiaPython/

      - name: Déploiement FTP (Sécurisé)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./ 
          server-dir: RenduDevopsKube/
          dangerous-clean-slate: false # Ne pas effacer Wordpress !
          state-name: "none"